[Desktop Entry]
Version=1.0
Type=Application
Name=Anaconda
Exec=/home/andy/anaconda3/bin/anaconda-navigator
Icon=/home/andy/anaconda3/lib/python3.8/site-packages/anaconda_navigator/app/icons/Icon1024.png
Terminal=false